/* ---------------------------------------------------
    HEADER
----------------------------------------------------- */
#header {
    background-image: url("../img/chemistry-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header .primary-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.help-header {
    min-height: 400px !important;
}

/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */
.home-page-cards {
    height: 500px;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (max-width: 767px) {
    #header .display-2 {
        font-size: 3rem;
    }
}