@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------
    USER HOME PAGE
----------------------------------------------------- */

.prof-pic {
    border-radius: 20px;
    /*margin-top:-45px;*/
    height: 120px;
    width: 120px;
    content: url("../Resources/blank-profile-picture-973460_640.png");
}

.profile-pic {
    border-radius: 20px;
}

.helpful-links a {
    color: #007bff;
}

.helpful-links a:hover {
    background-color: #007bff;
    color: white;
}

.active {
    font-weight: bold;
}

.card {
    width: 100%;
}

.list-group-item a {
    text-decoration: none;
}

.hover-item:hover,
.hover-item:active {
    background-color: #007bff;
    cursor: -webkit-grab;
    cursor: grab;
}

.list-group-item:hover a,
.list-group-item:active a {
    color: white;
    text-decoration: none;
}

.date {
    width: 100%;
}

.request-btn {
    width: 100%;
    margin-top: 10px;
}

.requests {
    padding-bottom: -10px;
}

/* ---------------------------------------------------
    HOME PAGE: HEADER
----------------------------------------------------- */
#header {
    background-image: url("../Resources/blur-bottle-chemistry-248152.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header .primary-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.help-header {
    min-height: 400px !important;
}

/* Cards from Home Page */
.home-page-cards {
    height: 500px;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */

#footer-links li {
    display: inline-block;
}

#footer-links li a {
    color: inherit;
}

/* index */
/* MEDIA QUERIES */
